@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
       font-family: 'Roboto', sans-serif; /* Apply the font to body or other elements */
       background-color: #111924;
      /* Your background color */
}

/* click events  */
.clicks{
    position: absolute;
    background:transparent;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation:clicks 1s forwards;
}
@keyframes clicks {
    0%{
        transform: scale(.1);
        border: 20px solid #2596a5a1;
    }
    50%{
        border: 2px solid #359fa7a1;

        transform: scale(2);
    }
    100%{
        transform: scale(2.1);
        border:none;
    }
}


/* Bubble  */
.bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    bottom: -100px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3); /* Lightened box-shadow */
    backdrop-filter: blur(1px); /* Slightly less blur for visibility */
    cursor: pointer;
    animation: move 10s linear infinite;
    
}

@keyframes move {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-120vh) scale(1.2);
    }
}